
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post" action="/Employee/SaveEmpPost">
<input type="text" name="Name"/>
<input type="number" name="Age"/>
<input type="number" name="Salary"/>
<input type="text" name="Address"/>
<input type="submit"/>
</form>

