@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="body">
<section class="containers">
    <section class="contents">
        <h2>404</h2>
        <h3>Oooops</h3>
        <h4>Page <span>Not</span> Found</h4>
        <span id="str"></span>
    </section>
</section>
</div>